* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1{
  margin-top: 2rem;
  margin-bottom:2rem ;

}

body{
  background-color: #363636;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  background-color: #820ad1;
  padding: 1rem;
  border-radius: 10px;
  width: 15rem;
  height: 25rem;
  box-shadow: 5px 8px 8px #000;
}

img[alt= mastercard]{
  width: 30%;
}
img[alt= chip]{
  width: 40%;
  transform: rotate(90deg);
}
img[alt= aprox] {
  width: 30%;
  margin-top: -5%;
  margin-left: 35%;
  transform: rotate(90deg);
  
  
}
.part_two img{
  width: 35%;
}

.content{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.part_one{
  height: 70%;
}

.box-img{
  display:flex;
  align-items: flex-start;
}

.part_two{
  height: 20%; 
}

.part_two p{
  margin-left: 0.5rem;
}